<div id="wrapper">
    <div id="c1"></div>
    <div id="c2">
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="tab-icon">work</mat-icon>
                    <span class="tab-label">Beruflich</span>
                </ng-template>
                <div class="mat-tab-body-wrapper">
                    <app-corporation-timeline></app-corporation-timeline>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="tab-icon">school</mat-icon>
                    <span class="tab-label">Akademisch</span>
                </ng-template>
                <div class="mat-tab-body-wrapper">
                    <app-corporation-timeline></app-corporation-timeline>
                </div>
            </mat-tab>
        </mat-tab-group>

    </div>
    <div id="c3"></div>
</div>