.main-navbar-button {
  font-weight: bold;
  margin-right: 16px;
}

.main-navbar-button-inside-wrapper {
  display: flex;
}

.header-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  margin-right: 8px;
}



.primary-navbar-button {
  font-weight: bold;
  margin-right: 16px;
}

.spacer {
  flex: 1 1 auto;
}

.secondary-navbar-button-wrapper {
  display: flex;
  align-items: normal;
  font-weight: bold;
}

.secondary-navbar-button-wrapper mat-icon {
  align-self: center;
}


@media screen and (max-width: 700px) {

  .primary-navbar-button {
    width: 100%;
  }

  .secondary-navbar-button-text {
    display: none;
  }

  .primary-navbar-button-wrapper {
    display: none;
  }
}

@media screen and (min-width: 700px) {

  .mat-toolbar-second-row {
    display: none;
  }

  .secondary-navbar-button-wrapper img {
    margin-right: 5px;
  }

  .secondary-navbar-button-wrapper mat-icon {
    margin-right: 5px;
    margin-left: 5px;
  }
}