.main-navbar-button {
  font-weight: bold;
  margin-right: 16px;

  mat-icon {
    transform: scale(1.75);
    margin-right: 16px;
  }
}

.primary-navbar-button {
  font-weight: bold;
  margin-right: 16px;
}

.spacer {
    flex: 1 1 auto;
  }

  .secondary-navbar-button-wrapper {
    display: flex; 
    align-items: normal;
    font-weight: bold;
  }

  .secondary-navbar-button-wrapper mat-icon {
    align-self: center;
  }


@media screen and (max-width: 700px) {

  .primary-navbar-button {
    width: 100%;
  }

  .secondary-navbar-button-text {
    display: none;
  }

  .primary-navbar-button-wrapper {
    display: none;
  }
}
  
@media screen and (min-width: 700px) {
    
  .mat-toolbar-second-row {
    display: none;
  } 

  .secondary-navbar-button-wrapper img {
    margin-right: 5px;
  }

  .secondary-navbar-button-wrapper mat-icon {
    margin-right: 5px;
    margin-left: 5px;
  }
}